revtorch=0.2.4=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.7.3=pypi_0
sentry-sdk=1.5.2=pypi_0
setuptools=63.4.1=py37h06a4308_0
shortuuid=1.0.8=pypi_0
simpleitk=2.1.1=pypi_0
six=1.16.0=pypi_0
sklearn=0.0.post1=pypi_0
smmap=5.0.0=pypi_0
sqlite=3.39.3=h5082296_0
subprocess32=3.5.4=pypi_0
tbb=2021.7.0=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.12=h1ccaba5_0
torch=1.12.1=pypi_0
torchmetrics=0.10.1=pypi_0
tqdm=4.62.3=pypi_0
typing-extensions=4.3.0=pypi_0
urllib3=1.26.8=pypi_0
wandb=0.12.9=pypi_0
wheel=0.37.1=pyhd3eb1b0_0